@tailwind base;
@tailwind components;
@tailwind utilities;


.review-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review-card {
    flex-grow: 2
}

.review-list {
    flex-grow: 1;
    margin-left: 20px;
}
